:root {
  --theme-image-filter: invert(100%);

  --background-color: #222;
  --border-color: #fff;
  --font-color: #fff;
  --font-second-color: rgb(241, 98, 98);
  --button-background-color: rgba(255, 255, 255, 0.1);

  --text-box-background-color: rgba(255,255,255,0.2);

  --keypad-main-color: rgba(98, 241, 98,0.5);
  --keypad-second-color: rgba(241, 98, 98,0.7);
}

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    box-sizing: border-box;
    color: var(--font-color);
}

body {
    background-color: var(--background-color);
}

header h1 {
    color: var(--font-second-color);
    padding: 1rem 1rem 0.5rem 1rem;
}

#theme-button {
    position: absolute;
    border-radius: 25%;
    top: 0.5rem;
    right: 1rem;
    min-width: 0;
    width: 2rem;
    height: 2rem;
}

#theme-button img {
    max-width: 100%;
    padding: 0.2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: var(--theme-image-filter);
}

main {
    padding: 1rem;
}

#start-container p {
    padding: 0.5rem 0;
}

button {
    background-color: var(--button-background-color);
    border: 1px solid var(--border-color);
    border-radius: 0.5rem;
    min-width: 4rem;
    min-height: 1.5rem;
    color: var(--font-second-color);
}

#question-container {
    margin: auto;
    text-align: center;
}

#question-container h3 {
    padding: 0.1rem;
}

#question-container input {
    margin-top: 0.5rem;
    padding: 0.4rem;
    text-align: center;
    border-radius: 0.5rem;
    width: 10rem;
    background-color: var(--text-box-background-color);
}

#question-container button {
    margin: auto;
    margin-top: 0.5rem;
    display: block;
    border-radius: 0.5rem;
    min-width: 5rem;
}


#results-container {
    margin: auto;
    text-align: center;
}

.result-container {
    border: 1px solid var(--border-color);
    border-radius: 0.5rem;
    width: 15rem;
    margin: 0.5rem auto;
    padding: 0.5rem;
    background-color: var(--button-background-color);
}

#score-num {
    color: red;
    margin-right: 0.4rem;
}

#score p {
    display: inline-block;
}


#show-answers {
    padding: 0 0.5rem;
}

#answers-container {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
    text-align: center;
    max-width: 50rem;
}

.answer {
    background-color: var(--button-background-color);
    border: 1px solid var(--border-color);
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin: 0.25rem;
}

.answer p {
    font-size: 1rem;
}

.answer .check, .answer .cross, .answer .question {
    display: inline;
}

.check, .cross {
    border-radius: 0.25rem;
    margin-left: 0.25rem;
    padding: 0 0.1rem;
    color: var(--font-color);
}

.check {
    background-color: green;
}

.cross {
    background-color: red;
}



#keypad-container {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;  
    width: 90%;
    max-width: 20rem;
    margin: 1rem auto; 
}

.keypad-row {
    display: flex;
    width: 100%;
}

.key {
    position: relative;
    border-color: #222;
    border-radius: 1rem;
    padding: 0.2rem;
    background-color: var(--keypad-main-color);
    color: var(--background-color);
    width: 33%;
    padding-top: 33%;
    border: 0.2rem solid;
}

.key p {
    font-size: 2rem;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#key-0 {
    flex-basis: 50%;
}

#key-enter {
    flex-basis: 40%;
    background-color: var(--keypad-second-color);
}

#key-minus, #key-backspace {
    flex-basis: 19%;
    background-color: var(--keypad-second-color);
}

#key-minus #plus {
    position: absolute;
    top: 42%;
    left: 42%;
}


#key-minus #minus {
    position: absolute;
    top: 60%;
    left: 58%;
}


footer {
    text-align: center;
}

footer p {
    padding: 0.3rem;
    font-size: 0.9rem;
    color: var(--font-second-color);
}