$theme-image-filter: invert(0%);

$background-color: #fff;
$border-color: #000;
$font-color: #000;
$font-second-color: rgb(9, 96, 209);
$button-background-color: rgba(177, 218, 236, 0.1);

$text-box-background-color: rgba(255,255,255,0.2);

$keypad-font-color: #fff;
$keypad-main-color: rgb(72, 156, 72);
$keypad-second-color: rgb(233, 197, 79);


* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    box-sizing: border-box;
    color: $font-color;
}

body {
    background-color: $background-color
}

header h1 {
    color: $font-second-color;
    padding: 1rem 1rem 0.5rem 1rem;
}

#theme-button {
    position: absolute;
    border-radius: 25%;
    top: 0.5rem;
    right: 1rem;
    min-width: 0;
    width: 2rem;
    height: 2rem;
}

#theme-button img {
    max-width: 100%;
    padding: 0.2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: $theme-image-filter
}

main {
    padding: 1rem;
}

#start-container p {
    padding: 0.5rem 0;
}

button {
    background-color: $button-background-color;
    border: 1px solid $border-color;
    border-radius: 0.5rem;
    min-width: 4rem;
    min-height: 1.5rem;
    color: $font-second-color;
}

#question-container {
    margin: auto;
    text-align: center;
}

#question-container h3 {
    padding: 0.1rem;
}

#question-container input {
    margin-top: 0.5rem;
    padding: 0.4rem;
    text-align: center;
    border-radius: 0.5rem;
    width: 10rem;
    background-color: $text-box-background-color;
}

#question-container button {
    margin: auto;
    margin-top: 0.5rem;
    display: block;
    border-radius: 0.5rem;
    min-width: 5rem;
}


#results-container {
    margin: auto;
    text-align: center;
}

.result-container {
    border: 1px solid $border-color;
    border-radius: 0.5rem;
    width: 15rem;
    margin: 0.5rem auto;
    padding: 0.5rem;
    background-color: $button-background-color;
}

#score-num {
    color: red;
    margin-right: 0.4rem;
}

#score p {
    display: inline-block;
}


#show-answers {
    padding: 0 0.5rem;
}

#answers-container {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
    text-align: center;
}

.answer {
    background-color: $button-background-color;
    border: 1px solid $border-color;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin: 0.5rem;
}

.answer p {
    font-size: 1rem;
}

.answer .check, .answer .cross, .answer .question {
    display: inline;
}

.check, .cross {
    border-radius: 0.25rem;
    margin-left: 0.25rem;
    padding: 0 0.1rem;
    color: $font-color;
}

.check {
    background-color: green;
}

.cross {
    background-color: red;
}



#keypad-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;  
    width: 90%;
    max-width: 20rem;
    margin: 1rem auto; 
}

.keypad-row {
    display: flex;
    width: 100%;
}

.key {
    position: relative;
    border-radius: 1rem;
    padding: 0.2rem;
    background-color: $keypad-main-color;
    color: $background-color;
    width: 33%;
    padding-top: 33%;
    border: 0.2rem solid;
}

.key p {
    color: $keypad-font-color;
    font-size: 2rem;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#key-0 {
    flex-basis: 50%;
}

#key-enter {
    flex-basis: 40%;
    background-color: $keypad-second-color;
}

#key-minus, #key-backspace {
    flex-basis: 19%;
    background-color: $keypad-second-color;
}

footer {
    text-align: center;
}

footer p {
    padding: 0.3rem;
    font-size: 0.9rem;
    color: $font-second-color;
}